 /* Running pig */

 .size {
    transform: scale(65%);
}

#brown-pig {
    position: relative;
    left: 150px;
}

.pig-three {
    background-color: #854836;
    height: 130px;
    width: 190px;
    border-top-left-radius: 40%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.pig-four {
    background-color: #ffaaa5;
    height: 130px;
    width: 190px;
    border-top-left-radius: 40%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.go {
    position: relative;
    left: 100px;
}

.go-two {
    position: relative;
    left: 60px;
}

 .head-three, .head-four{
    background-color: #854836;
    height: 130px;
    width: 160px;
    position: relative;
    top: -50px;
    left: 70px;
    border-radius: 50%;
    box-shadow: 1px 1px 1.5px -1px rgb(17, 17, 17);
}

.head-four {
    background-color: #ffaaa5;
}

.nose-three, .nose-four {
    background-color: #854836;
    height: 50px;
    width: 50px;
    border-top: -30%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    transform: rotate(-10deg);
    position: absolute;
    top: -10px;
    left: 200px;
    display: flex;
}

.nose-four {
    background-color: #ffaaa5;
}

.nostril-three, .nostril-four {
    height: 15px;
    width: 8px;
    border-top-left-radius: 80%;
    border-bottom-left-radius: 90%;
    background-color: #45171d;
    position: relative;
    top: 15px;
    left: 41px;
}

.eyes-three, .eyes-four {
    display: flex;
    position: absolute;
    top: -30px;
    left: 160px;
}

.eye-three, .eye-four {
    background: white;
    border: 2px solid #45171d;
    height: 50px;
    width: 45px;
    border-radius: 100%;
}

.dot-three, .dot-four {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    position: relative;
    background: #45171d;
    top: 15px;
    left: -35px;
}

.ears-three, .ears-four {
    display: flex;
    position: relative;
}

.ear-left-three, .ear-left-four {
    background-color: #854836;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: -207px;
    width: 50px;
    height: 50px;
    left: 150px;
    transform: rotate(50deg);
    box-shadow: -4px -1px 2px -2px black;
    position: absolute;

}

.ear-right-three, .ear-right-four {
    background-color: #854836;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: -205px;
    left: 119px;
    width: 50px;
    height: 50px;
    transform: rotate(-50deg);
    z-index: -1;
    position: absolute;
}

.ear-left-four, .ear-right-four {
    background-color: #ffaaa5;
}

.legs-three, .legs-four {
    display: flex;
    position: absolute;
}

.leg-right-three, .leg-left-three, .leg-right-four, .leg-left-four {
    background-color: #854836;
    height: 40px;
    width: 40px;
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.leg-right-four, .leg-left-four {
    background-color: #ffaaa5;
}

.leg-right-three, .leg-right-four {
    left: 110px;
    top: -25px;
}

.leg-left-three, .leg-left-four {
    left: 0px;
    top: -25px;
}

.foot-right-three, .foot-left-three, .foot-right-four, .foot-left-four {
    height: 15px;
    width: 40px;
    background-color: #45171d;
    position: relative;
    border-bottom-right-radius: 10%;
    top: 35px;
}


/* Left hand part of tail */
.body-three::before, .body-four::before {
    content: '';
    position: absolute;
    left: -16px;
    top: 20px;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 5px 2px 0px 0px #854836;
    transform: rotate(95deg);
  }
  
  /* Right hand part of tail */
  .body-three::after, .body-four::after {
    content: '';
    position: absolute;
    top: 30px;
    left: -18px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: -3px -1px 0px 0px #854836;
    transform: rotate(45deg);
  }

/* Keyframes animation, started in app.js */

@keyframes move {
    from {left: 5%;}
    to {left: 50%;}
  }

@keyframes move-two {
    from {left: 5%;}
    to {left: 50%;}
  }

@keyframes bounce {
	0%, 20%, 30%, 40%, 50%, 60%, 90%, 100% {transform: translateY(0);}
	70% {transform: translateY(-10px) rotate(-10deg);}
    75% {transform: translateY(-5px);}
    80% {transform: translateY(-1px);}
    85% {transform: translateY(10px);}
}

@keyframes bounce-two {
	0%, 10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50%, 55%, 80%, 100% 
    {transform: translateY(0);}
	60% {transform: translateY(-10px) rotate(-10deg);}
    65% {transform: translateY(-5px);}
    70% {transform: translateY(-1px);}
    75% {transform: translateY(10px);}
}

@keyframes jump {
	0%, 20%, 30%, 50%, 80%, 100% {transform: translateY(1);}
	40% {transform: translateY(-300px);}
    65% {transform: translateY(-300px) rotate(15deg);}
    67% {transform: translateY(-280px) rotate(18deg);}
    69% {transform: translateY(-250px) rotate(20deg);}
    70% {transform: translateY(-200px) rotate(45deg);}
    72% {transform: translateY(-100px) rotate(55deg);}
    74% {transform: translateY(-100px) rotate(65deg);}
    76% {transform: translateY(-80px) rotate(70deg);}
    78% {transform: translateY(-50px) rotate(75deg);}
    90% {transform: translateY(-150px) rotate(80deg);}
}

@keyframes jump-two {
	0%, 10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50%, 55%, 80%, 100% {transform: translateY(1);}
	40% {transform: translateY(-300px);}
    60% {transform: translateY(-300px) rotate(15deg);}
    65% {transform: translateY(-280px) rotate(18deg);}
    69% {transform: translateY(-250px) rotate(20deg);}
    70% {transform: translateY(-200px) rotate(45deg);}
    72% {transform: translateY(-100px) rotate(55deg);}
    74% {transform: translateY(-100px) rotate(65deg);}
    76% {transform: translateY(-80px) rotate(70deg);}
    78% {transform: translateY(-50px) rotate(75deg);}
    90% {transform: translateY(-150px) rotate(80deg);}
}

@keyframes running-ear-left {
    50%{
        transform: rotate(90deg);
    }
}

@keyframes running-ear-right {
    50%{
        transform: rotate(-40deg);
    }
}

@keyframes run-right {
    50%{
        transform: rotate(-30deg);
    }
}

@keyframes run-left {
    50%{
        transform: rotate(30deg);
    }
}