body {
    background-color: #e7eaf6;
    height: 100%;
}

.container {
    padding: 10em 10em 2em 10em;
}

.heading {
    text-align: center;
}

h1 {
    color: #ffaaa5;
    font-size: 4vw;
    text-shadow: 0 0 0.1em #45171d, 0 0 1em #ffaaa5;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.5vw;
}

.col-4 {
    flex: 33.33%;
    text-align: center;
}


/* Pig pink */

.pig-one {
    padding: 3em 0 0 6em;
}
.body-one {
    background-color: #ffaaa5;
    height: 9em;
    width: 9em;
    position: relative;
    border-radius: 50%;
}

.head {
    background-color: #ffaaa5;
    height: 8.13em;
    width: 8.13em;
    position: relative;
    top: -5em;
    border-radius: 50%;
}
.eyes {
    display: flex;
    position: absolute;
    left: 1em;
}

.eye-left, .eye-right {
    background: white;
    border: 0.1em solid #45171d;
    height: 2.8em;
    width: 2.5em;
    border-radius: 100%;
    margin: -0.12em
}

.dot {
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    position: relative;
    background: #45171d;
    top: 1.1em;
    left: -2em;
}

.nose {
  display: flex;
    background-color: #ffaaa5;
    height: 2.2em;
    width: 2.2em;
    border: 0.18em solid #45171d;
    border-radius: 100%;
    position: absolute;
    top: 5.8em;
    left: 3em;
}

.nostril-left, .nostril-right {
    display: flex;
    height: 0.8em;
    width: 0.6em;
    border-radius: 100%;
    background-color: #45171d;
    position: relative;
    top: 0.89em;
    margin-left: 0.2em;
}

.ears {
    display: flex;
    position: relative;
}

.ear-left {
    transform: rotate(-20deg);
    background-color: #ffaaa5;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: -0.8em;
    width: 3.125em;
    height: 3.125em;
    box-shadow: -0.25em -0.0625em 0.125em  -0.125em black;
    position: relative;
}

.ear-right {
    transform: rotate(20deg);
    background-color: #ffaaa5;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: -0.8em;
    left: 5.5em;
    width: 3.125em;
    height: 3.125em;

    box-shadow: -0.0625em -0.1875em  0.125em -0.125em black;
    position: absolute;
}

.foot-right, .foot-left {
    background-color: #45171d;
    height: 2em;
    width: 2.5em;
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.foot-right {
    left: 4.8em;
    top: 9em;
}

.foot-left {
    left: 2em;
    top: 7em;
}

/*Pig brown */

.body-two {
    background-color: #854836;
    height: 7em;
    width: 8.1em;
    justify-items: stretch;
    position: relative;
    border-top-left-radius: 40%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

}

 .head-two {
    background-color: #854836;
    height: 6.8em;
    width: 7.5em;
    position: inherit;
    top: -2em;
    left: 3.5em;
    border-radius: 50%;
    box-shadow: 0.0626em 0.0626em 0.0937em -0.0626em rgb(17, 17, 17);
}

.nose-two {
    background-color: #854836;
    height: 3.1em;
    width: 2.1em;
    border-top: -30%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    transform: rotate(-10deg);
    position: absolute;
    top: 1.6em;
    left: 6.2em;
    display: flex;
}

.nostril-two {
    height: 1em;
    width: 0.5em;
    border-top-left-radius: 80%;
    border-bottom-left-radius: 90%;
    background-color: #45171d;
    position: relative;
    top: 0.8em;
    left: 1.6em;
}

.eye {
    display: flex;
    position: absolute;
    top: 1.2em;
    left: 3.5em;
}

.eye-two {
    background: white;
    border: 0.12em solid #45171d;
    height: 2.8em;
    width: 2.5em;
    border-radius: 100%;
}

.dot-two {
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    position: relative;
    background: #45171d;
    top: 15px;
    left: -35px;
}

.ears-two {
    display: flex;
    position: relative;
}

.ear-left-two {
    background-color: #854836;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: -1.2em;
    width: 3.1em;
    height: 3.1em;
    left: 3em;
    transform: rotate(65deg);
    box-shadow: -0.25em -0.0625em 0.125em  -0.125em black;
    position: relative;
}

.ear-right-two {
    background-color: #854836;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: -1em;
    width: 3.1em;
    height: 3.1em;
    left: -1.2em;
    transform: rotate(-50deg);
    z-index: -1;
    box-shadow: -0.0625em -0.1875em  0.125em -0.125em black;
    position: relative;

}

.legs-two {
    display: flex;
    position: absolute;
}

.leg-right-two, .leg-left-two {
    background-color: #854836;
    height: 2em;
    width: 2em;
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.leg-right-two {
    left: 4.6em;
    top: -1.3em;
}

.leg-left-two {
    left: 0.05em;
    top: -1.3em;
}

.foot-one, .foot-two {
    height: 0.6em;
    width: 2em;
    background-color: #45171d;
    position: relative;
    border-bottom-right-radius: 10%;
    top: 1.8em;
}

/* Left hand part of tail */
.body-two::before {
    content: '';
    position: absolute;
    left: -16px;
    top: 20px;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 5px 2px 0px 0px #854836;
    transform: rotate(95deg);
  }
  
  /* Right hand part of tail */
  .body-two::after {
    content: '';
    position: absolute;
    top: 30px;
    left: -18px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: -3px -1px 0px 0px #854836;
    transform: rotate(45deg);
  }

@media (max-width: 1400px) {
    .pig-one, .pig-two {
        transform: scale(80%);
    }
}

@media (max-width: 1200px) {
    .pig-one, .pig-two {
        transform: scale(60%);
    }
}

